<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497488501022-0shoenof66tv1qqunb6jgsacautcp4ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497488501022-0shoenof66tv1qqunb6jgsacautcp4ht</string>
	<key>API_KEY</key>
	<string>AIzaSyBbraZtQytm7X3U3iUMJLSKjB1Tm-nGoj8</string>
	<key>GCM_SENDER_ID</key>
	<string>497488501022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ef.Mars-Rover</string>
	<key>PROJECT_ID</key>
	<string>mars-rover-5f782</string>
	<key>STORAGE_BUCKET</key>
	<string>mars-rover-5f782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497488501022:ios:dcf5f5bb33dd281c30910f</string>
</dict>
</plist>